.sidebarItems {
  display: flex;
  flex-direction: column;
}

.sidebarItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  height: 56px;
  margin-bottom: 8px;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.sidebarItemActive {
  background-color: #EFF2F9;
  color: #303B5B;
  border-radius: 30px 0 0 30px;
  transition: top .3s ease-in-out;
  filter: drop-shadow(-60px 1px 30px rgba(0, 0, 0, 0.15));
}

.sidebarItemActive:before {
  content: '';
  position: absolute;
  top: -24px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="%23EFF2F9" d="M0 24 Q24 24 24 0 L24 24Z" /></svg>');
}

.sidebarItemActive:after {
  content: '';
  position: absolute;
  bottom: -24px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="%23EFF2F9" d="M0 0 Q24 0 24 24 L24 0ZZ" /></svg>');
}

.sidebarItem:nth-child(1) {
  margin-top: 40px;
}

.sidebarItemIcon {
  font-size: 23px;
  margin-right: 16.5px;
  margin-left: 24px;
}

.logos {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
